
<script>
    document.getElementById("myButton").addEventListener("click", function () {
        document.getElementById("pop").style.display = "block"
    })
      document.getElementById("close").addEventListener("click", function () {
        document.getElementById("pop").style.display = "none"
    })
</script>
</body>
</html>
